<div class=" col-md-12">
    <h2>Ingresa a tu cuenta</h2>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                      
    <form class="main_form">
        <div class="row">
         
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <input class="form-control" placeholder="Email" type="text" name="Email">
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <input class="form-control" placeholder="Contraseña" type="password" name="password">
            </div>
            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <button class="send">Login</button>
            </div>
        </div>
    </form>
</div>