{% load static %}
   <!-- header -->
    <header>
        <div class="container-fluid">
            <div class="row" >
                <div class="col-md-3">
                    <div class="full">
                        <a class="logo" href="inicio"><img src={% static 'images/logo(1).png' %} alt="#" / style="width: 6em;"></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="full">
                        <div class="right_header_info">
                            <ul>
                                <li>
                                   Contacto: +569 31389331
                                </li>
                               
                                <li>
                                    <a href="https://www.google.com/maps" target="_blank">Dirreccion </a>
                                </li>
                                
                                <li>
                                    <button type="button" id="sidebarCollapse">
                                        <img src={% static "images/menu_icon.png" %} alt="#">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->