{% load static %}

<section class="resip_section">
    <div class="container">
        <div class="row">
     <div class="col-md-12">
   <div class="ourheading">
<h2>Our Recipes</h2>
</div>
</div>    
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="owl-carousel owl-theme">

            <div class="item">

                <div class="product_blog_img">
                    <img src={% static "images/bebidas.jpg" %} alt="#" />
                </div>

                <div class="product_blog_cont">
                    <h3>bebidas</h3>
                    <h4><span class="theme_color">$</span>1000</h4>
                </div>

            </div>

            <div class="item">

                <div class="product_blog_img">
                    <img src={% static "images/churrasco_solo.jpg" %} alt="#" />
                </div>

                <div class="product_blog_cont">
                    <h3>churrasco</h3>
                    <h4><span class="theme_color">$</span>1500</h4>
                </div>

            </div>

            <div class="item">

                <div class="product_blog_img">
                    <img src={% static "images/empanadas.jpg" %} alt="#" />
                </div>

                <div class="product_blog_cont">
                    <h3>empanadas</h3>
                    <h4><span class="theme_color">$</span>1000</h4>
                </div>

            </div>

            <div class="item">

                <div class="product_blog_img">
                    <img src={% static "images/papas_fritas.jpg" %} alt="#" />
                </div>

                <div class="product_blog_cont">
                    <h3>papas fritas</h3>
                    <h4><span class="theme_color">$</span>1000</h4>
                </div>

            </div>

            <div class="item">

                <div class="product_blog_img">
                    <img src={% static "images/pizza.jpg" %} alt="#" />
                </div>

                <div class="product_blog_cont">
                    <h3>pizza</h3>
                    <h4><span class="theme_color">$</span>5000</h4>
                </div>

            </div>

            <div class="item">

                <div class="product_blog_img">
                    <img src={% static "images/hamburguesa.jpg" %} alt="#" />
                </div>

                <div class="product_blog_cont">
                    <h3>hamburguesas</h3>
                    <h4><span class="theme_color">$</span>3000</h4>
                </div>

            </div>

            <div class="item">

                <div class="product_blog_img">
                    <img src={% static "images/churrascos.jpg" %} alt="#" />
                </div>

                <div class="product_blog_cont">
                    <h3>Chacareros</h3>
                    <h4><span class="theme_color">$</span>3000</h4>
                </div>

            </div>

        </div>

        </div>
</div>
</div>
</div>
</div>

</section>

